<%#= form_with scope: :product, url: products_path, local:true do |f| %>
<%#= form_with @product do |f| %>
<%= form_with(model:@product) do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :available_quantity %><br>
    <%= f.text_field :available_quantity %>
  </p>

  <p>
  <%= f.label :avatar %><br>
  <%= f.file_field :avatar %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>